{% extends "layout.html" %} {% block content %}
<h2>Nice to meet you!</h2>
<div>
  <main>
    <p>
      Hi, I'm Tini! My pronouns are she/her, and I am currently pursuing my
      M.Sc. in Computing at Cardiff University. Last fall, I graduated from
      California Polytechnic State University, San Luis Obispo with a B.S. in
      Journalism and a concentration in Public Relations. I have experience as a
      multimedia journalist and in a social media marketing, as well as having
      worked on a podcast. However, I am hoping to break into tech, and pursue a
      career in frontend web development and/or UI/UX!
    </p>
    <p>
      When I'm not studying, I enjoy listening to music, going on drives,
      organizing my Notion, and watching TV shows and ASMR videos. I also love
      cats!
    </p>
  </main>
</div>
{% endblock content %}
