{% extends "layout.html" %} {% block content %} {% for post in posts %}
<header>
</header>

<div class=blog_post>
    <p><a href="{{ url_for('post', post_id=post.id) }}">
            <img id="image_posts" src="{{ url_for('static', filename='img/' + post.image_file) }}"
                 style="width: 300px; height: 300px; object-fit: cover;">
    </a></p>
    <h3><a class="post_title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h3>
    <p class="short_description" style="word-wrap:break-word;">
        {% if post.content|length > 120 %}
        {{ post.content[:120] }} ...
        {% else %}
        {{ post.content }}
        {% endif %}
    </p>
</div>
{% endfor %} {% endblock content %}
