<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>tini nguyen</title>
  </head>

  <body>
    <h1>tini nguyen</h1>
    <header>
      <p class="welcometext">welcome to my digital portfolio :)</p>
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('logout') }}" class="navlinkright">logout</a>
      <a href="{{ url_for('contact') }}" class="navlinkleft">contact</a>
      <a href="{{ url_for('about') }}" class="navlinkleft">about</a>
      <a href="{{ url_for('home') }}" class="navlinkleft">home</a>
      {% else %}
      <a href="{{ url_for('login') }}" class="navlinkright">login</a>
      <a href="{{ url_for('contact') }}" class="navlinkleft">contact</a>
      <a href="{{ url_for('about') }}" class="navlinkleft">about</a>
      <a href="{{ url_for('home') }}" class="navlinkleft">home</a>
      {% endif %}
    </header>

    <div>
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>

    <div id="content">{% block content %} {% endblock %}</div>

    <footer id="footer" class="footer">tini nguyen © 2023</footer>
  </body>
</html>
